{% extends 'gtechwebs/base.html' %}

{% block title %} Produtos - Gtech Web Control{% endblock %}

{% block content %}
    <main>
        <h1>Produtos</h1>        
                
        <a href="{% url 'new_produto' %}">Adicionar Produto</a>

        <br><br>
        <!-- Campo de busca -->
        <input type="text" id="search" placeholder="Pesquisar produto..." class="form-control">

        <br><br>
        
            <table id="tabela" border="1" hidden="true">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Preço Custo</th>
                        <th>Tipo de Produto</th>
                        <th>Fabricante</th>
                        <th>Marca</th>
                        <th>Cor</th>
                        <th>Fornecedor</th>
                        <th>Data de Cadastro</th>
                        <th>Estoque</th>
                        <th>Imagem</th>
                        <th>Ação</th>                       
                    </tr>
                </thead>
                <tbody id="produtos-table">                                                     
                </tbody>
            </table>
        <p id="no-results" style="display: none;">Nenhum produto encontrado.</p>
    </main>
    <!-- Script para busca AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var query = $(this).val(); // Obtém o valor digitado
                $.ajax({
                    url: "{% url 'search_produto' %}", // URL da view Django
                    data: { 'q': query },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#tabela").show(); // Exibe a tabela
                        var tbody = $("#produtos-table");
                        tbody.empty(); // Limpa a tabela
                        
                        if (data.produtos.length === 0) {
                            $("#no-results").show();
                            $("#tabela").hide();
                        } else {
                            $("#no-results").hide();
                            $.each(data.produtos, function (index, produto) {
                                tbody.append(`
                                    <tr>
                                        <td>${produto.id_produto}</td>
                                        <td>${produto.nome}</td>
                                        <td>${produto.preco_custo}</td>                            
                                        <td>${produto.tipo_produto__descricao}</td>
                                        <td>${produto.fabricante}</td>
                                        <td>${produto.marca}</td>
                                        <td>${produto.cor}</td>
                                        <td>${produto.id_fornecedor__nome_empresa}</td>
                                        <td>${produto.data_cadastro}</td>
                                        <td>${produto.estoque}</td>
                                        <td>
                                        ${produto.imagem ? `<img src="${produto.imagem}" alt="${produto.nome}" width="100">` : `<p>Sem imagem</p>`}
                                        </td>
                                        <td><a href="/edit_produto/${produto.id_produto}">Editar</a></td>
                                                                                
                                    </tr>
                                `);
                            });
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
