{% extends 'gtechwebs/base.html' %}

{% block title %}Tipos de Produto - Gtech Web Control{% endblock %}

{% block content %}
    <main>
        <h1>Tipos de Produto</h1>        
        <a href="{% url 'new_tipo_produto' %}">Adicionar Tipo Produto</a>
        {% if tipos %}
            <table border="1">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Margem</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tipos %}
                        <tr>
                            <td>{{ tipo.cod }}</td>
                            <td>{{ tipo.descricao }}</td>
                            <td>{{ tipo.margem }}</td>
                            <td><a href="{% url 'edit_tipo_produto' tipo.cod%}">Editar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum tipo de produto cadastrado.</p>
        {% endif %}
    </main>
{% endblock %}
