
{% block title %}Login - Gtech Web Control{% endblock %}

{% block content %}
    <h2>Login</h2>

    {% if form.errors %}
        <p style="color: red;">Usuário ou senha incorretos. Tente novamente.</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="id_username">Usuário:</label>
        <input type="text" name="username" id="id_username" required>

        <label for="id_password">Senha:</label>
        <input type="password" name="password" id="id_password" required>

        <button type="submit">Entrar</button>
    </form>

    <p><a href="">Esqueceu a senha?</a></p>
{% endblock %}

